/AddressTest.class
/MainClass.class
/OrderCancellationTemplate.html
/OrderConfirmationTemplate.html
/OrderPendingTemplate.html
/PromotionTemplate.html
/RegistrationCancellationTemplate.html
/RegistrationConfirmationTemplate.html
/ShipmentDeliveredTemplate.html
/SimpleMessageTemplate.html
/TEMPSimpleMessageTemplate.html
/TestOrderCancellationTemplateMail.class
/TestOrderConfirmationTemplateMail.class
/TestOrderPendingTemplateMail.class
/TestSimpleMessageTemplateMail.class
/TestingHibernate.class
/ThanksTemplate.html
/UserBlockedStatusTest.class
/UserStatusTest.class
/UserTest.class
